.noScrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.noScrollbar::-webkit-scrollbar {
  display: none; /* WebKit */
}